@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.navbar-list{
    color: white;
    list-style-type: none;
}
.side-section-heading{
    font-weight: bold;
    color: aqua;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    cursor: pointer;
}
.side-section-heading:hover{
    color: aquamarine;
    font-family: 'Lobster', cursive;

}
.side-section-para{
    font-size: 25px;
    font-family: 'Lobster', cursive;

}
.flex-container{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.flex-box{
    width: 480px;
    height: 250px;
    background-color: grey;
    margin: 10px;
}
.second-side-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 15px; */
    text-align: center;
}
.second-section-bottom{
    width: 800px;
    margin-left: 15px;
   position: relative;
   bottom: 125px;
}
.para2{
    font-weight: bold;
}
.heading-2{
    font-weight: bolder;
    color: blueviolet;
}
.image-3{
    position: relative;
    bottom: 90px;
}
.flex-container-1{
   display: flex;
   flex-wrap: wrap;
    margin: 55px;
   justify-content: center;
   align-items: center;


}
.flex-box-1{
   width: 300px;
   height: 350px;
   margin: 35px;
   padding: 15px;
   border-radius: 10px;
   background-color: rgb(125, 179, 181);
}
.box-1:hover{
  transform: scale(1.1, 1.2);
}